body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    height: 40%;
    width: 40%;
}

header {
    text-align: center;
    padding: 10px;
}

header h1 {
    color: green;
    font-size: 24px;
    margin: 0;
}

header p {
    font-size: 16px;
    color: gray;
    margin: 0;
}

nav {
    background-color: green;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

img {
   width: 40%;
   height: 40%;
}

nav ul li a:hover {
    background-color: darkgreen;
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 1rem;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

th {
    background-color: #2e7d32;
    color: white;
    font-weight: bold;
}

.programacion {
    background-color: #a5d6a7;
    color: #1b5e20;
}

.fol {
    background-color: #c8e6c9;
    color: #2e7d32;
}

.entornos {
    background-color: #81c784;
    color: #1b5e20;
}

.bases_datos {
    background-color: #66bb6a;
    color: #004d40;
}

.lenguaje {
    background-color: #aed581;
    color: #33691e;
}

.sistemas {
    background-color: #c5e1a5;
    color: #558b2f;
}

.sostenibilidad {
    background-color: #dcedc8;
    color: #33691e;
}

.digitalizacion {
    background-color: #b9f6ca;
    color: #1b5e20;
}

.recreo {
    background-color: #004d40;
    color: white;
    font-weight: bold;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
